# ~/.tvbox.conf

export TVBOX_FULLSCREEN=0                               # enable full-screen mode
export TVBOX_GPIO=0                                     # enable gpiozero
export TVBOX_SPLASH_DELAY=3                             # set to something like 18 to give raspi time to get NTP time
export TVBOX_DEBUG=1					# leave terminal window open on exit
export TVBOX_VAAPI=0					# vlc option to make hardware decoding work on Intel i5 skylake graphics

export TVBOX_DIR="$HOME/tvbox"                          # tvbox directory
export TVBOX_CHANNELS_DIR="$HOME/tvbox_media/channels"  # channels dir
export TVBOX_LOG="$TVBOX_DIR/tvbox.log"                 # log file
